a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: white;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.header-container{
    display: flex;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    margin: 0 auto;
}
.page-container {
    min-height: 100vh;
}
.container {
    display: flex;
    max-width: 1158px;
    /*padding-left: 15px;
    padding-right: 15px;*/
    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
}

/*header*/

.header-nav{
    display: flex;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #4D5AE5;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 25.5px 76px 25.5px 0;
}
.logo-studio {
    color: #2E2F42;
}
.nav-link {
    font-size: 16px;
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.header-address {
    font-style: normal;
}
.nav-list {
    display: flex;
    gap: 40px;
    margin: 24px 0;
}
.nav-mail-tel {
    font-size: 16px;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.nav-mail-tel:hover,
.nav-mail-tel:focus {
    color: #404bbf;
}
.address-list {
    display: flex;
    gap: 40px;
    margin: 24px 0;
}

/*hero-section*/

.hero-section {
    background-color: #2E2F42;
    color: #fff;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    width: 496px;
}
.hero-button {
    color: #fff;
    background-color: #4D5AE5;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    padding: 16px 32px;
    border: 4px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/*quality*/

.quality {
    padding: 120px 0;
}
.qu-title {
    visibility: hidden;
}
.qu-list {
    display: flex;
    gap: 24px;
}
.qu-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding-top: 8px;
}

/*team*/

.team-section {
    background-color: #F4F4FD;
}
.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-bottom: 120px;

}
.team-list-item {
    background-color: #fff;
}
.team-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
}
.team-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
}
.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
    align-items: center;
}

/*portfolio*/

.portfolio-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 120px;
}
.portfolio-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 32px 16px;
}
.portfolio-item {
    border: 1px solid var(--cornflower, #E7E9FC);
}
/*basement*/


.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.footer-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    width: 264px;
}
.footer-container {
    display: flex;
    max-width: 1158px;
    /*padding-left: 15px;
    padding-right: 15px;*/
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding-top: 101.5px;
    padding-bottom: 100px;
    gap: 17.5px;
}